<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>ル&nbsp;ベナトン｜西宮・夙川フレンチ</title>
  <meta
          name="description"
          content="西宮・夙川のフレンチレストラン「ル&nbsp;ベナトン」。ミシュランガイド兵庫版掲載店。ジビエ料理、ブルゴーニュワイン。フランス「食の都」ボーヌ仕込みの味をご堪能ください。"
  />
  <meta
          name="keywords"
          content="夙川フレンチ,西宮フレンチ,兵庫フレンチ,神戸フレンチ,阪神間フランチ,ブルゴーニュワイン,ブルゴーニュ料理,ブルゴーニュ,ボーヌ,黄金の丘,神戸ジビエ,西宮ジビエ,関西フレンチ,関西ジビエ,ジビエ料理,夙川ランチ,夙川ディナー,西宮ランチ,西宮ディナー,神戸ランチ,神戸ディナー"
  />
  <meta
          name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=yes"
  />
  <meta name="format-detection" content="telephone=no" />
  <link rel="canonical" href="https://www.benaton.net" />
  <meta name="google-site-verification" content="sf9tNhZ_bJR_c-OXC3qO63Jy3NWsoq_70XZmgZAcYQg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="ル&nbsp;ベナトン｜西宮・夙川フレンチ" />
  <meta
          name="twitter:description"
          content="西宮・夙川のフレンチレストラン「ル&nbsp;ベナトン」。ミシュランガイド兵庫版掲載店。ジビエ料理、ブルゴーニュワイン。フランス「食の都」ボーヌ仕込みの味をご堪能ください。"
  />
  <meta name="twitter:image" content="https://www.benaton.net/images/dinner2.jpg" />

  <meta property="og:title" content="ル&nbsp;ベナトン｜西宮・夙川フレンチ" />
  <meta
          name="description"
          content="西宮・夙川のフレンチレストラン「ル&nbsp;ベナトン」。ミシュランガイド兵庫版掲載店。ジビエ料理、ブルゴーニュワイン。フランス「食の都」ボーヌ仕込みの味をご堪能ください。"
  />
  <meta
          name="keywords"
          content="夙川フレンチ,西宮フレンチ,兵庫フレンチ,神戸フレンチ,阪神間フランチ,ブルゴーニュワイン,ブルゴーニュ料理,ブルゴーニュ,ボーヌ,黄金の丘,神戸ジビエ,西宮ジビエ,関西フレンチ,関西ジビエ,ジビエ料理,夙川ランチ,夙川ディナー,西宮ランチ,西宮ディナー,神戸ランチ,神戸ディナー"
  />

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.benaton.net/images/dinner2.jpg" />
  <meta property="og:site_name" content="ル&nbsp;ベナトン｜西宮・夙川フレンチ" />
  <meta
          property="og:description"
          content="西宮・夙川のフレンチレストラン「ル&nbsp;ベナトン」。ミシュランガイド兵庫版掲載店。ジビエ料理、ブルゴーニュワイン。フランス「食の都」ボーヌ仕込みの味をご堪能ください。"
  />
  <meta property="og:image" content="https://www.benaton.net/images/dinner2.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="robots" content="noindex">

  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/module.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" type="text/css" href="css/script.css" />
  <link rel="icon" type="image/png" href="favicon.png" sizes="32x32" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99005030-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-99005030-1');
  </script>
  <script src="index.js" defer></script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Restaurant",
      "image": [
        "https://www.benaton.net/images/dinner1.jpg",
        "https://www.benaton.net/images/dinner2.jpg",
        "https://www.benaton.net/images/dinner3.jpg"
      ],
      "name": "ル ベナトン",
      "telephone": "+81798372655",
      "priceRange": "$$$$",
      "servesCuisine": "フランス料理",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "西宮市",
        "addressRegion": "兵庫県",
        "postalCode": "662-0047",
        "streetAddress": "寿町4-12",
        "addressCountry": "JP"
      },
      "sameAs": ["https://www.instagram.com/le_benaton/", "https://www.facebook.com/benaton.japon"],
      "url": "https://www.benaton.net",
      "menu": "https://www.benaton.net/#menu-lunch",
      "mainEntity": [
        {
          "@type": "Question",
          "name": "ドレスコードはありますか？",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "ドレスコードはございません。楽しくお食事できる服装でお越しください。"
          }
        },
        {
          "@type": "Question",
          "name": "子連れでも大丈夫ですか？",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "ぜひお子様といらっしゃってください（乳児可、未就学児可、小学生可）。ベビーカーで入店いただくこともできます。"
          }
        }
      ]
    }
  </script>
</head>

<body>
<header>
  <div class="logo">
    <a href="index.html"><img src="images/logo.png" alt="ル&nbsp;ベナトン｜西宮・夙川フレンチ" /></a>
  </div>
  <nav>
    <ul>
      <li><a href="index.html#menu-reserved">ご予約</a></li>
      <li><a href="index.html#menu-lunch">ランチ</a></li>
      <li><a href="index.html#menu-dinner">ディナー</a></li>
      <li><a href="index.html#menu-wine">ワイン</a></li>
      <li><a href="index.html#menu-profile" style="min-width: 88px">プロフィール</a></li>
      <li><a href="index.html#menu-voyage">VOYAGE</a></li>
      <li class="inatagram">
        <a href="https://www.instagram.com/le_benaton/" rel="noopener" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
            <title>ionicons-v5_logos</title>
            <path
                    d="M349.33,69.33a93.62,93.62,0,0,1,93.34,93.34V349.33a93.62,93.62,0,0,1-93.34,93.34H162.67a93.62,93.62,0,0,1-93.34-93.34V162.67a93.62,93.62,0,0,1,93.34-93.34H349.33m0-37.33H162.67C90.8,32,32,90.8,32,162.67V349.33C32,421.2,90.8,480,162.67,480H349.33C421.2,480,480,421.2,480,349.33V162.67C480,90.8,421.2,32,349.33,32Z"
            />
            <path d="M377.33,162.67a28,28,0,1,1,28-28A27.94,27.94,0,0,1,377.33,162.67Z" />
            <path
                    d="M256,181.33A74.67,74.67,0,1,1,181.33,256,74.75,74.75,0,0,1,256,181.33M256,144A112,112,0,1,0,368,256,112,112,0,0,0,256,144Z"
            />
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <section class="mobile-only">
    <div class="btn-trigger" id="mobile-menu-button">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
</header>

    <main>
      <section>
        <div class="wrap">
          <div class="leading-container">
            <h2 class="news">送信完了</h2>
            <p>問い合わせの送信が完了しました。</p>
            <p>
              お申し出に対しては順次対応させていただいておりますが、受付時間外に送信いただいたものや、内容によりましてはお返事にお時間を頂戴する場合がございます。また、ご入力いただいたEメールアドレスや電話番号が誤っている場合やシステム障害が発生した場合等には回答ができない場合がございます。一週間以上経っても回答未着の場合、お手数ですが再度お問い合わせいただけると幸いです。
            </p>
            <div class="text-center">
              <a href="index.html">
                <button>トップページに戻る</button>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
