<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ル ベナトン｜西宮・夙川フレンチ</title>
    <meta
      name="description"
      content="西宮・夙川のフレンチレストラン「ル ベナトン」。ミシュランガイド兵庫版掲載店。ジビエ料理、ブルゴーニュワイン。フランス「食の都」ボーヌ仕込みの味をご堪能ください。"
    />
    <meta
      name="keywords"
      content="夙川フレンチ,西宮フレンチ,兵庫フレンチ,神戸フレンチ,阪神間フランチ,ブルゴーニュワイン,ブルゴーニュ料理,ブルゴーニュ,ボーヌ,黄金の丘,神戸ジビエ,西宮ジビエ,関西フレンチ,関西ジビエ,ジビエ料理,夙川ランチ,夙川ディナー,西宮ランチ,西宮ディナー,神戸ランチ,神戸ディナー"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=yes"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="google-site-verification" content="sf9tNhZ_bJR_c-OXC3qO63Jy3NWsoq_70XZmgZAcYQg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="ル ベナトン｜西宮・夙川フレンチ" />
    <meta
      name="twitter:description"
      content="西宮・夙川のフレンチレストラン「ル ベナトン」。ミシュランガイド兵庫版掲載店。ジビエ料理、ブルゴーニュワイン。フランス「食の都」ボーヌ仕込みの味をご堪能ください。"
    />
    <meta name="twitter:image" content="https://www.benaton.net/images/dinner2.jpg" />

    <meta property="og:title" content="ル ベナトン｜西宮・夙川フレンチ" />
    <meta
      name="keywords"
      content="夙川フレンチ,西宮フレンチ,兵庫フレンチ,神戸フレンチ,阪神間フランチ,ブルゴーニュワイン,ブルゴーニュ料理,ブルゴーニュ,ボーヌ,黄金の丘,神戸ジビエ,西宮ジビエ,関西フレンチ,関西ジビエ,ジビエ料理,夙川ランチ,夙川ディナー,西宮ランチ,西宮ディナー,神戸ランチ,神戸ディナー"
    />

    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.benaton.net/images/dinner2.jpg" />
    <meta property="og:site_name" content="ル ベナトン｜西宮・夙川フレンチ" />
    <meta
      property="og:description"
      content="西宮・夙川のフレンチレストラン「ル ベナトン」。ミシュランガイド兵庫版掲載店。ジビエ料理、ブルゴーニュワイン。フランス「食の都」ボーヌ仕込みの味をご堪能ください。"
    />
    <meta property="og:image" content="https://www.benaton.net/images/dinner2.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/module.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="css/script.css" />
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99005030-1"></script>
    <!--    <script defer src="https://www.googleoptimize.com/optimize.js?id=OPT-PBVT4QC"></script>-->
    <script defer src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/7.21.0/firebase-firestore.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      if (!location.href.includes('localhost')) {
        gtag('js', new Date());
        gtag('config', 'UA-99005030-1');
      }
    </script>
    <script src="index.js" defer></script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Restaurant",
        "image": [
          "https://www.benaton.net/images/dinner1.jpg",
          "https://www.benaton.net/images/dinner2.jpg",
          "https://www.benaton.net/images/dinner3.jpg"
        ],
        "name": "ル ベナトン",
        "telephone": "+81798372655",
        "priceRange": "$$$$",
        "servesCuisine": "フランス料理",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "西宮市",
          "addressRegion": "兵庫県",
          "postalCode": "662-0047",
          "streetAddress": "寿町4-12",
          "addressCountry": "JP"
        },
        "sameAs": ["https://www.instagram.com/le_benaton/", "https://www.facebook.com/benaton.japon"],
        "url": "https://www.benaton.net",
        "menu": "https://www.benaton.net/#menu-lunch",
        "mainEntity": [
          {
            "@type": "Question",
            "name": "ドレスコードはありますか？",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "ドレスコードはございません。楽しくお食事できる服装でお越しください。"
            }
          },
          {
            "@type": "Question",
            "name": "子連れでも大丈夫ですか？",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "ぜひお子様といらっしゃってください（乳児可、未就学児可、小学生可）。ベビーカーで入店いただくこともできます。"
            }
          }
        ]
      }
    </script>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="index.html"><img src="images/logo.png" alt="西宮・夙川のフレンチレストラン「ル・ベナトン」" /></a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html#menu-reserved">ご予約</a></li>
          <li><a href="index.html#menu-lunch">ランチ</a></li>
          <li><a href="index.html#menu-dinner">ディナー</a></li>
          <li><a href="index.html#menu-wine">ワイン</a></li>
          <li><a href="index.html#menu-profile" style="min-width: 88px">プロフィール</a></li>
          <li><a href="index.html#menu-contact">お問い合わせ</a></li>
          <li class="inatagram">
            <a href="https://www.instagram.com/le_benaton/" rel="noopener" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
                <title>ionicons-v5_logos</title>
                <path
                  d="M349.33,69.33a93.62,93.62,0,0,1,93.34,93.34V349.33a93.62,93.62,0,0,1-93.34,93.34H162.67a93.62,93.62,0,0,1-93.34-93.34V162.67a93.62,93.62,0,0,1,93.34-93.34H349.33m0-37.33H162.67C90.8,32,32,90.8,32,162.67V349.33C32,421.2,90.8,480,162.67,480H349.33C421.2,480,480,421.2,480,349.33V162.67C480,90.8,421.2,32,349.33,32Z"
                />
                <path d="M377.33,162.67a28,28,0,1,1,28-28A27.94,27.94,0,0,1,377.33,162.67Z" />
                <path
                  d="M256,181.33A74.67,74.67,0,1,1,181.33,256,74.75,74.75,0,0,1,256,181.33M256,144A112,112,0,1,0,368,256,112,112,0,0,0,256,144Z"
                />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <section class="mobile-only">
        <button class="btn-trigger" id="mobile-menu-button">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </section>
    </header>

    <main>
      <section class="main-visual">
        <h1 class="title">西宮・夙川のフレンチレストラン「ル　ベナトン」</h1>
        <section class="hero-image">
          <div>
            <img
              src="images/slides/104380ga10000008.jpg"
              decoding="async"
              width="800"
              height="400"
              alt="ジビエ コルベールのロースト"
            />
          </div>
          <div>
            <img
              src="images/slides/104380ga10000003.jpg"
              decoding="async"
              width="800"
              height="400"
              alt="西宮・夙川のフレンチレストラン「ル ベナトン」店内の様子"
            />
          </div>
          <div>
            <img
              src="images/slides/104380ga10000007.jpg"
              decoding="async"
              width="800"
              height="400"
              alt="鮮魚のカルパッチョ"
            />
          </div>
          <a
            class="button"
            href="https://tabelog.com/hyogo/A2803/A280301/28009616/dtlphotolst/1/smp2/"
            rel="noopener"
            target="_blank"
          >
            食べログから写真をみる
          </a>
        </section>
      </section>

      <section id="menu-reserved">
        <div class="wrap">
          <h2>ご予約</h2>
          <ul class="reserved-system">
            <li>
              <a
                class="button"
                href="https://reserve.resebook.jp/resty/webrsv/rsv_vacants/vacant/s014049701/5580?show=3"
                rel="noopener"
                target="_blank"
              >
                オンライン予約
              </a>
            </li>
            <li>
              <a class="button" href="tel:0798-37-2655">電話予約</a>
            </li>
          </ul>
          <div class="leading-container">
            <div class="container-extend">
              <h3>水曜日定休日</h3>

              <h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                  <title>ionicons-v5-o</title>
                  <line
                    x1="160"
                    y1="144"
                    x2="448"
                    y2="144"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                  <line
                    x1="160"
                    y1="256"
                    x2="448"
                    y2="256"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                  <line
                    x1="160"
                    y1="368"
                    x2="448"
                    y2="368"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                  <circle
                    cx="80"
                    cy="144"
                    r="16"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                  <circle
                    cx="80"
                    cy="256"
                    r="16"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                  <circle
                    cx="80"
                    cy="368"
                    r="16"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                </svg>
                お知らせ
              </h4>
              <ul class="list-news"></ul>

              <h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                  <title>ionicons-v5-c</title>
                  <path
                    d="M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z"
                    style="fill: none; stroke: #3e2723; stroke-miterlimit: 10; stroke-width: 32px"
                  />
                  <polyline
                    points="256 128 256 272 352 272"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                </svg>
                営業時間
              </h4>
              <div class="wrap-table">
                <table>
                  <tbody>
                    <tr>
                      <th>ランチ</th>
                      <td>11：45 ～ 14：00（ラストオーダー）</td>
                    </tr>
                    <tr>
                      <th>ディナー</th>
                      <td>18：00 ～ 21：00（ラストオーダー）</td>
                    </tr>
                    <tr>
                      <th>その他</th>
                      <td>
                        テイクアウト・ケータリングも、行っています。直接お問い合わせください。<br />10：30 〜 18：00
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                  <title>ionicons-v5-i</title>
                  <path
                    d="M80,212V448a16,16,0,0,0,16,16h96V328a24,24,0,0,1,24-24h80a24,24,0,0,1,24,24V464h96a16,16,0,0,0,16-16V212"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                  <path
                    d="M480,256,266.89,52c-5-5.28-16.69-5.34-21.78,0L32,256"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                  <polyline
                    points="400 179 400 64 352 64 352 133"
                    style="
                      fill: none;
                      stroke: #3e2723;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 32px;
                    "
                  />
                </svg>
                アクセス
              </h4>
              <div class="wrap-table">
                <table>
                  <tbody>
                    <tr>
                      <th>電話</th>
                      <td><a href="tel:0798-37-2655">0798-37-2655</a></td>
                    </tr>
                    <tr>
                      <th>ＦＡＸ</th>
                      <td>0798-37-2656</td>
                    </tr>
                    <tr>
                      <th>住所</th>
                      <td>
                        <address>
                          〒662-0047<br />
                          兵庫県西宮市寿町4-12
                        </address>
                        <a
                          href="https://www.google.com/maps?ll=34.741734,135.330433&z=16&t=m&hl=ja&gl=JP&mapclient=embed&cid=5727555182521874623"
                          rel="noreferrer"
                          class="button"
                          target="_blank"
                          style="margin-top: 4px !important"
                        >
                          Google Map
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <th>その他</th>
                      <td>
                        <p>
                          ドレスコードはございません。楽しくお食事できる服装でお越しください。
                          子供可（乳児可、未就学児可、小学生可）、ベビーカー入店可。
                        </p>
                        <p>
                          駐車場はございませんが、近くにコインパーキングがございます（<a
                            href="https://times-info.net/P28-hyogo/C204/park-detail-BUK0025568/"
                            target="_blank"
                            rel="nofollow"
                            >タイムズ西宮千歳町</a
                          >）。
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="menu-lunch">
        <div class="wrap">
          <h2 class="subtitle">
            ランチ
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                <title>ionicons-v5-c</title>
                <path
                  d="M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z"
                  style="fill: none; stroke: #3e2723; stroke-miterlimit: 10; stroke-width: 32px"
                />
                <polyline
                  points="256 128 256 272 352 272"
                  style="fill: none; stroke: #3e2723; stroke-linecap: round; stroke-linejoin: round; stroke-width: 32px"
                />
              </svg>
              11：45～14：00（ラストオーダー）
            </span>
          </h2>
          <div class="leading-container">
            <h3>日々の疲れを癒やし、ゆっくりと過ごす贅沢時間</h3>
            <div class="parenthesis">
              <p>
                魚介は瀬戸内、野菜は兵庫県産をメインに、肉は各々の時期にもっともおいしいものを日本全国から仕入れ、ヨーロッパ各地からも、オマール海老、秋から冬にかけて旬をむかえるハト、カモなどのジビエも仕入れ、本格的なフランス料理を、満足のいくボリュームでご提供しています。
              </p>
              <p>
                お客様に贅沢な時間を過ごしていただきたいという思いから、ランチでも、<strong>ディナーでご提供しているコース・ワインもご注文いただくことができます。</strong>ダークブラウンの落ち着いた空間で、思い出に残るひとときをお過ごしください。
              </p>
            </div>
          </div>

          <div class="equidistant-container">
            <section class="equidistant-container-inner">
              <img
                src="images/lunch1.jpg"
                decoding="async"
                width="800"
                height="534"
                alt="西宮・夙川のフレンチレストラン「ル ベナトン」 Aコース"
              />
              <h4>Aコース(ランチのみ)</h4>
              <ul>
                <li>アミューズ</li>
                <li>前菜（数種類の中らお選びいただけます）</li>
                <li>メイン料理（本日のお魚又はお肉料理）</li>
                <li>デザート</li>
                <li>パン、コーヒー</li>
              </ul>
              <p>3,850円(税込)</p>
            </section>

            <div class="equidistant-container-inner">
              <img
                src="images/lunch2.jpg"
                decoding="async"
                width="800"
                height="534"
                alt="西宮・夙川のフレンチレストラン「ル ベナトン」 Bコース"
              />
              <h4>Ｂコース(ランチのみ)</h4>
              <ul>
                <li>アミューズ</li>
                <li>前菜（数種類の中らお選びいただけます）</li>
                <li>お魚料理（数種類の中らお選びいただけます）</li>
                <li>お肉料理（数種類の中らお選びいただけます）</li>
                <li>デザート</li>
                <li>パン、コーヒー</li>
              </ul>
              <p>5,280円(税込)</p>
            </div>

            <div class="equidistant-container-inner">
              <img
                src="images/lunch3.jpg"
                decoding="async"
                width="800"
                height="533"
                alt="西宮・夙川のフレンチレストラン「ル ベナトン」 Cコース"
              />
              <h4>Ｃ・シェフお任せコース(ランチのみ)</h4>
              <ul>
                <li>アミューズ、前菜、メイン（お肉、魚介）を、その日の食材でお料理を組み立てさせていただきます</li>
                <li>デザート</li>
                <li>パン、コーヒー</li>
              </ul>
              <p>6,600円(税込)</p>
            </div>
          </div>
        </div>
      </section>

      <section id="menu-dinner">
        <div class="wrap">
          <h2 class="subtitle">
            ディナー
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                <title>ionicons-v5-c</title>
                <path
                  d="M256,64C150,64,64,150,64,256s86,192,192,192,192-86,192-192S362,64,256,64Z"
                  style="fill: none; stroke: #3e2723; stroke-miterlimit: 10; stroke-width: 32px"
                />
                <polyline
                  points="256 128 256 272 352 272"
                  style="fill: none; stroke: #3e2723; stroke-linecap: round; stroke-linejoin: round; stroke-width: 32px"
                />
              </svg>
              18：00～21：00（ラストオーダー）</span
            >
          </h2>
          <div class="leading-container">
            <h3>フランス食の都「ボーヌ」仕込みのディナーをご堪能ください</h3>
            <div class="parenthesis">
              <p>
                フランス・ブルゴーニュ地方は食とワインの宝庫として知られています。<strong>「食の都」ボーヌの星付きレストラン</strong>で修業した当店シェフは、カモ、シカ、イノシシなどのお肉への最高の火入れの技術を有し、本場のフランス料理だけではなく<strong>ワインにも精通</strong>しています。野菜は毎週、旬の物を産地まで買い付けに行きます。ヨーロッパ各地から仕入れるハト、カモなどのジビエ料理、フランス・ブルターニュ産のオマール海老、日本近海で獲れた新鮮な魚介もお楽しみいただけます。
              </p>
              <p>
                ブルゴーニュワインに特化したワインセラーも店内に完備。現地の風土を知り尽くした<strong>選び抜かれたブルゴーニュワイン</strong>と<strong>本格的なフランス料理</strong>は、あたかも<strong>ブルゴーニュを旅したような食体験</strong>です。旬の食材からコース料理をご提案いたしますので、ゆったりとした時間をお楽しみください。
              </p>
            </div>
          </div>

          <div class="equidistant-container">
            <section class="equidistant-container-inner">
              <img
                src="images/dinner1.jpg"
                decoding="async"
                width="800"
                height="534"
                alt="西宮・夙川のフレンチレストラン「ル ベナトン」 ブルギニオンコース"
              />
              <h4>ブルギニオンコース</h4>
              <ul>
                <li>アミューズ</li>
                <li>前菜（数種類の中らお選びいただけます）</li>
                <li>お魚料理</li>
                <li>お肉料理（数種類の中らお選びいただけます）</li>
                <li>チーズ又は、小さなサラダ</li>
                <li>デザート(数種類の中からお選びいただけます)</li>
                <li>パン、コーヒー</li>
              </ul>
              <p>6,600円(税込、サービス料５%別途)</p>
            </section>

            <section class="equidistant-container-inner">
              <img
                src="images/dinner2.jpg"
                decoding="async"
                width="800"
                height="534"
                alt="西宮・夙川のフレンチレストラン「ル ベナトン」 グルマンコース"
              />
              <h4>グルマンコース</h4>
              <ul>
                <li>アミューズ</li>
                <li>前菜２種（数種類の中らお選びいただけます）</li>
                <li>ボキャルドオマール（オマール海老のスープ仕立)</li>
                <li>メイン料理（数種類のお肉の中からお選びいただけます)</li>
                <li>チーズ又は、小さなサラダ</li>
                <li>デザート(数種類の中からお選びいただけます)</li>
                <li>パン、コーヒー</li>
              </ul>

              <p>9,350円(税込、サービス料５%別途)</p>
            </section>

            <section class="equidistant-container-inner">
              <img
                src="images/dinner3.jpg"
                decoding="async"
                width="800"
                height="534"
                alt="西宮・夙川のフレンチレストラン「ル ベナトン」 デギュステコース"
              />
              <h4>デギュステ・シェフお任せコース</h4>
              <ul>
                <li>アミューズ</li>
                <li>その日の食材でお客様とお話させていただいてお料理を組み立てさせていただきます</li>
                <li>デザート(数種類の中からお選びいただけます)</li>
                <li>パン、コーヒー</li>
              </ul>
              <p>
                13,200円(税込、サービス料５%別途)<br />その他、お客様のご希望がございましたら、スタッフにお申し付け下さい。
              </p>
            </section>
          </div>
        </div>
      </section>

      <section id="menu-wine">
        <div class="wrap">
          <h2>ワイン</h2>
          <div class="leading-container">
            <h3>ワインの名産地「黄金の丘」より選び抜いたワインをご提案いたします</h3>
            <div class="parenthesis">
              <p>
                食の都「ボーヌ」は、ワインの名産地である黄金の丘でも知られているブルゴーニュ地方の中心部に位置しています。そこの星付きレストランで修業した当店シェフは、<strong>毎週のようにドメーヌをめぐり、作り手と、香りやマリアージュ、飲み頃について意見を交わしましてきました。</strong>そこで身につけた知識と感性で、ワインをおすすめいたします。
              </p>
              <p>
                当店ではブルゴーニュワインに特化したワインセラーを店内に完備し、当店シェフが選びぬいたブルゴーニュワインからお料理にあわせてワインを提案させていただきます。当店でどのようなワインがあるか、ぜひ、以下のリストをご覧ください。
              </p>
            </div>
          </div>

          <div class="equidistant-container">
            <section id="red-wine" class="equidistant-container-inner">
              <p>
                <img src="images/red.jpg" class="radius" decoding="async" width="500" height="500" alt="赤ワイン" />
              </p>
              <h3 class="wine-title">赤ワインリスト<br />VIN ROUGE de Bourgogne<br />ブルゴーニュ ( 赤 )</h3>
              <div class="text-center">
                <button class="button-wine-list" onclick="openModal('#red-wine')">ワインリスト</button>
              </div>
              <ul class="modal-show wine-list-red"></ul>
            </section>

            <section id="white-wine" class="equidistant-container-inner">
              <p>
                <img src="images/white.jpg" class="radius" decoding="async" width="500" height="500" alt="白ワイン" />
              </p>
              <h3 class="wine-title">白ワインリスト<br />VIN BLANC de Bourgogne<br />ブルゴーニュ( 白 )</h3>
              <div class="text-center">
                <button class="button-wine-list" onclick="openModal('#white-wine')">ワインリスト</button>
              </div>
              <ul class="modal-show wine-list-white"></ul>
            </section>

            <section id="champagne-wine" class="equidistant-container-inner">
              <p>
                <img
                  src="images/sparkring.jpg"
                  class="radius"
                  decoding="async"
                  width="500"
                  height="500"
                  alt="シャンパン"
                />
              </p>
              <h3 class="wine-title">
                シャンパーニュ/スパークリングワインリスト<br />
                CHAMPAGNE(シャンパーニュ)<br />
                VIN MOUSSEUX(ブルゴーニュ産スパークリングワイン)
              </h3>
              <div class="text-center">
                <button class="button-wine-list" onclick="openModal('#champagne-wine')">ワインリスト</button>
              </div>
              <ul class="modal-show wine-list-champagne"></ul>
            </section>
          </div>
          <hr />
          <div class="leading-container">
            <p>
              ワイン・シャンパンの価格は、輸入価格の相場により予告なく変更することがございます。
              また、ワイン・シャンパンの在庫の本数もなくなる場合がありますので、ご了承下さい。
              リスト以外のワインも多数ご用意しておりますので、お気軽にお尋ね下さい。
            </p>
            <p>
              また、当店ではワインのお持ち込みも歓迎しております。お客様のお気に入りのワインをお持ち下さい。
              持ち込み料金ですが、ボトル一本に付き「3,000円」、又はお店にグラス一杯分を分けて頂くことで持ち込み料金とさせて頂いております。
              お持込頂きます際には、本数、銘柄を事前にお店までお伝えください。
              当日突然のお持込には対応させていただけない場合もございます、ご了承ください。
              （グラス等の準備のためご協力お願いいたします）
            </p>
          </div>
        </div>
      </section>

      <section id="menu-profile">
        <div class="wrap">
          <h2>プロフィール</h2>
          <div class="leading-container-flex">
            <img
              src="images/takaya.jpg"
              loading="lazy"
              width="600"
              height="600"
              alt="西宮・夙川のフレンチレストラン「ル ベナトン」オーナー・シェフ　高谷慶"
            />
            <div>
              <h3>本格「ボーヌ」仕込みの味<br />ヨーロッパと日本の食材で地元・夙川で提供いたします</h3>
              <div class="parenthesis">
                <p>
                  フランスのブルゴーニュの食の都「ボーヌ」の星付きレストラン「ル
                  ベナトン」での4年間の修業を経て、2008年に生まれ育った夙川に、その名前を引き継いだ自らの店をオープンいたしました。ブルゴーニュはワインの名産地である黄金の丘でも知られ、ボーヌはその中心地に位置しています。2015年には「ブルゴーニュ地方のクリマ（ブドウ畑や気候）」は世界遺産に登録されました。ボーヌでは11月の第３週末には「栄光の3日間
                  LES TROIS
                  GLORIEUSES」と呼ばれるワインと食の祭典が催され、普段はブドウ畑に囲まれた小さな街が「フランス食の都」となります。
                </p>
                <p>
                  本場ブルゴーニュの味を引き継ぎ、ヨーロッパから仕入れた食材、地元の兵庫県の食材を取り入れたりしながら、故郷である夙川の地で発展させていきたいと思っています。
                </p>
                <p>オーナー・シェフ　高谷慶(Kei TAKAYA)</p>
              </div>
            </div>
          </div>

          <div class="equidistant-container">
            <section class="equidistant-container-inner">
              <p>
                <img
                  src="images/outside.jpg"
                  loading="lazy"
                  width="800"
                  height="534"
                  alt="西宮・夙川のフレンチレストラン「ル ベナトン」外観"
                />
              </p>
              <p class="text-center">ミシュランガイド兵庫版にも掲載されました。</p>
            </section>

            <section class="equidistant-container-inner">
              <p>
                <img
                  src="images/inside.jpg"
                  loading="lazy"
                  width="800"
                  height="534"
                  alt="西宮・夙川のフレンチレストラン「ル ベナトン」内観"
                />
              </p>
              <p class="text-center">客席からワインセラーを一覧いただけます</p>
            </section>

            <section class="equidistant-container-inner">
              <p>
                <img
                  src="images/inside2.jpg"
                  loading="lazy"
                  width="800"
                  height="534"
                  alt="西宮・夙川のフレンチレストラン「ル ベナトン」テーブル"
                />
              </p>
              <p class="text-center">１０テーブル、２０名様までご利用いただけます</p>
            </section>
          </div>
        </div>
      </section>

      <section id="copy-reserved"></section>

      <section id="menu-contact">
        <div class="wrap">
          <h2>お問い合わせ</h2>

          <div class="leading-container">
            <h3 class="text-left">お問い合わせについて</h3>
            <ul style="padding-left: 20px">
              <li>
                ご予約は、<a href="tel:0798-37-2655">電話</a>または
                <a
                  href="https://reserve.resebook.jp/resty/webrsv/rsv_vacants/vacant/s014049701/5580?show=3"
                  rel="noopener"
                  >予約サイト</a
                >より承ります。お急ぎの場合は、お電話ください。
              </li>
              <li>
                お申し出に対しては順次対応させていただいておりますが、受付時間外に送信いただいたものや、内容によりましてはお返事にお時間を頂戴する場合がございます。
              </li>
              <li>
                ご入力いただいたEメールアドレスや電話番号が誤っている場合やシステム障害が発生した場合等には回答ができない場合がございます。一週間以上経っても回答未着の場合、お手数ですがお電話ください。
              </li>
            </ul>
            <h4>問い合わせフォーム</h4>
            <form name="contact" method="post" action="complete.html" netlify>
              <div class="form-line">
                <label for="name"><span class="form-label required">必須</span>お名前</label>
                <input id="name" type="text" name="お名前" required placeholder="例）山田太郎" />
              </div>
              <div class="form-line">
                <label for="mail"><span class="form-label required">必須</span>メールアドレス（半角）</label>
                <input
                  type="text"
                  name="mail"
                  id="mail"
                  inputmode="email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  required
                  placeholder="例）info@example.com"
                />
              </div>

              <div class="form-line">
                <label for="tel">お電話番号（半角）</label>
                <input
                  type="text"
                  name="電話番号"
                  placeholder="例）09012345678"
                  inputmode="tel"
                  pattern="\d{2,4}-?\d{3,4}-?\d{3,4}"
                  id="tel"
                />
              </div>

              <div class="form-line">
                <label for="message"><span class="form-label required">必須</span>メッセージ</label>
                <textarea
                  id="message"
                  name="ご質問内容"
                  cols="50"
                  rows="5"
                  required
                  placeholder="※ご予約は、電話または予約サイトより承ります。"
                ></textarea>
              </div>
              <p class="text-center">
                <button type="submit" class="submitButton">問い合わせ送信</button>
              </p>
            </form>
          </div>
        </div>
      </section>

      <section id="menu-stuff">
        <div class="wrap">
          <div class="leading-container">
            <h4>スタッフ募集</h4>
            <p>
              ベナトンで一緒に働きませんか？やる気のあるあなたを募集しています。詳しくはお店までお問い合わせください
            </p>
          </div>
          <ul class="no-list-style equidistant-container">
            <li class="equidistant-container-inner container-half">
              <div class="parenthesis">
                <h5>サービス、ソムリエ（社員・アルバイト）</h5>
                <p>
                  経験に応じて給与は考慮いたします。<br />
                  社会保険、雇用保険有り<br />
                  昇給年1回、(業績、勤続年数によって変わります)<br />
                  資格取得の応援もしています。ソムリエ、調理師等
                </p>
              </div>
            </li>
            <li class="equidistant-container-inner container-extend">
              <div class="parenthesis">
                <h5>調理スタッフ（社員）</h5>
                <p>
                  フランス料理に興味のある方一緒にお仕事しませんか？<br />
                  未経験、年齢は問いません、経験してみたい方お待ちしています。<br />
                  資格取得の応援もしています。ソムリエ、調理師等
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section id="menu-voyage">
        <div class="wrap">
          <h2>VOYAGE</h2>
          <div class="equidistant-container" style="flex-wrap: wrap">
            <div class="equidistant-container-inner container-half">
              <section class="padding">
                <img src="images/voyage1.jpg" loading="lazy" alt="" />
                <p class="parenthesis">
                  関西国際空港を飛び立ったエールフランス291便は12時間35分後、パリのシャルル・ド・ゴール空港に滑り込んだ。11月のしっとりした曇り空に溶けているエッフェル塔に短く「ボンジュール」とあいさつをし、オーステルリッツ駅から、かつて「ル
                  ベナトン」のシェフ高谷慶が修業したブルゴーニュの食の都「ボーヌ」に向かう列車に乗り込んだ。数日後プジョーを運転し広大なブルゴーニュの牧草地を貫くD903号線を抜け、山裾に広がるエパニー村に到着。1850年代から続く村のハンティング協会の狩猟の見学許可がやっと出たのだった。
                </p>
              </section>
            </div>

            <div class="equidistant-container-inner container-half">
              <section class="padding">
                <img src="images/voyage2.jpg" loading="lazy" width="800" height="534" alt="" />
                <p class="parenthesis">
                  早朝の集会場では約50人のハンターにもうもうと湯気の立つスープが振る舞われ、活気に満ちた作戦会議が行われる。散弾銃に、バゲットのサンドイッチ、赤ワインのボトルを手に山に向かう。「プププ、プッププー」。突然ラッパが鳴りひびく。傍らにいた会長に目くばせすると「オスのイノシシが向かった方角を、音色とリズムで伝えているんだよ」と解説してくれる。猟犬が茂みから飛び出し林道をかけて、また草むらに飛び込んでいく。「パーン」と甲高い発砲音がこだまする。200キロの大きなイノシシが横たわっていた。クレーンのついたISUZUの四輪自動車は猟場と集会場を往復し、その日の獲物をどんどん運んだ。
                </p>
              </section>
            </div>

            <div class="equidistant-container-inner container-half">
              <section class="padding">
                <img src="images/voyage3.jpg" loading="lazy" width="800" height="534" alt="" />
                <p class="parenthesis">
                  この週末の成果はイノシシ、シカ合わせて20頭ほど。解体場でかいだ肉からは、ほんのりアプリコットのような香りがした。この季節、山には野生の果実が十分に実り、トリュフなどを求めキノコ採りの人が入る。そんな豊かな食べ物で動物たちは冬に備えている。フランスにはプロのハンターがいないのだという。週末にハンティングを趣味とする人たちが集まる。「俺の作ったワインだ。飲んでいけ！」とワイナリーを営むおじさんがほほ笑む。猟果を披露しながら宴会が始まる。立派なキバのついたイノシシはリビングに飾るため、腕のいい隣村の剥製職人のアランさんに依頼するのだろう。
                </p>
              </section>
            </div>

            <div class="equidistant-container-inner container-half">
              <section class="padding">
                <img src="images/voyage4.jpg" loading="lazy" width="800" height="534" alt="" />
                <p class="parenthesis">
                  お肉は仲買人がハンターからレストランに卸しているのだそう。翌日アランさんが住むメッシニー・エ・ヴァントー村を訪ねた。目当ては「きのうのイノシシ」。ハンターにお土産にお肉を持たせてもらうことがあっても、地元の食文化でジビエ（野生のお肉）がどう料理されるか見てみたかった。村の教会の鐘楼が見下ろすレストランのドアを「ボンジュール！」と勢いよく開ける。
                  「さあ、きょうはどんな一品が出てくるのだろうか」
                  <a href="http://www.tomofuminakano.com/index.html" rel="noopener" target="_blank"
                    >(写真家・中野智文)</a
                  >
                </p>
              </section>
            </div>
          </div>
        </div>
        <footer class="text-center padding">COPYRIGHT le benaton.</footer>
      </section>
    </main>

    <section class="modal-wine-list">
      <div class="modal-wine-list-inner"></div>
      <div class="padding text-center">
        <button onclick="closeModal()">閉じる</button>
      </div>
    </section>

    <section class="toast-area">
      <a id="recordAccess" class="toast">
        <span class="close"><span>×</span></span>
        現在<span class="record"></span>名のお客様が閲覧しています
      </a>
      <a id="conversionAccess" class="toast">
        <span class="close"><span>×</span></span>
        過去24時間でご予約が<span class="record"></span>件ありました
      </a>
    </section>
  </body>
</html>
