header {
  div.logo-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;

    a.logo-brand {
      margin: 16px 0 0 16px;
      img {
        width: 164px;
        height: auto;
      }
    }

    a.logo-area-reserved {
      position: fixed;
      top: 0;
      right: 8px;
      z-index: 999;
      display: flex;
      align-items: center;
      padding: 14px 32px;
      font-size: 1rem;
      border-radius: 0 0 8px 8px;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.8);
      color: var(--dark-color-contrast);
      ion-icon {
        position: relative;
        left: -4px;
      }
    }

  }

  h1.title {
    font-size: 1rem;
    margin: 0;
    padding: 10px 16px 8px;
    font-weight: normal;
    //border-top: 1px solid rgb(239, 235, 233);
    border-bottom: 1px solid rgb(239, 235, 233);
  }

  nav {
    max-width: 1024px;
    margin: auto;

    ul {
      list-style-type: none;
      margin: 16px 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        display: block;
        margin: 0 10px;

        a {
          font-size: 1.1rem;
        }

        ion-icon {
          position: relative;
          top: 2px;
          right: 4px;
          color: #999999;
        }
      }
    }
  }
}
