@import '../../shared/normalize';
@import '../../shared/initialize';
@import '../../shared/responsive';

:host {
  display: block;
}

section > .wrap {
  margin: auto;
  max-width: 1200px;
  padding: 0 0 40px;
}

.sub-course-title {
  position: relative;
  top: 12px;
  margin-top: 8px;
  font-weight: normal;
  font-family: cursive;
  font-size: 16px;
}

.leading-description {
  padding-top: 64px;
  h3 {
    font-size: 1.6rem;
    padding: 0 8px 16px;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--border-color);
  }
  p {
    font-size: 1.1rem;
    padding: 0 8px;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  section > .wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}

form.wine-search-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

form.wine-search-form input {
  display: block;
  margin-right: 8px;
}

form.wine-search-form button[type='submit'] {
  border-radius: 2px;
  display: block;
  padding: 2px 12px 2px;
}

/**
* <parenthesis>
*/
.parenthesis > p {
  margin-top: 0;
}
.parenthesis > p:last-child {
  margin-bottom: 0;
}
.parenthesis {
  width: 100%;
  font-size: 1.1rem;
  line-height: 200%;
  position: relative;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.parenthesis::before,
.parenthesis::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.parenthesis::before {
  top: 0;
  left: 0;
  border-top: 5px solid var(--medium-color);
  border-left: 5px solid var(--medium-color);
}
.parenthesis::after {
  bottom: 0;
  right: 0;
  border-bottom: 5px solid var(--medium-color);
  border-right: 5px solid var(--medium-color);
}
/**
 * </parenthesis>
 */

/**
 * <leading-container>
 */

.leading-container {
  max-width: 800px;
  margin: auto;
  padding: 0 8px 0;
}

.leading-container h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 200%;
}

.leading-container h3.text-left {
  text-align: left;
}

/**
 * </leading-container>
 */

/**
 * <equidistant-container>
 */
.equidistant-container {
  padding-top: 32px;
}

@media screen and (min-width: 800px) {
  .equidistant-container {
    display: flex;
  }

  #menu-voyage .equidistant-container {
    flex-wrap: wrap;
  }
}

.equidistant-container > .equidistant-container-inner {
  padding: 8px;
}

.equidistant-container > .equidistant-container-inner ul {
  padding: 0 0 0 20px;
}

.equidistant-container > .equidistant-container-inner img {
  border: 1px solid var(--light-color);
}

.equidistant-container > .equidistant-container-inner p span {
  background-color: var(--medium-color);
  color: var(--dark-color-contrast);
  padding: 4px 6px;
  font-size: 0.8rem !important;
}

/**
 * </equidistant-container>
 */

/**
* <leadingcontainer>
*/
@media screen and (min-width: 800px) {
  .leading-container-flex {
    display: flex;
    font-size: 1rem;
    line-height: 180%;
  }

  .leading-container-flex img {
    margin: 0 32px 0 16px !important;
  }
}

.leading-container-flex img {
  display: block;
  margin: 0 auto;
  width: 210px;
  height: 210px;
}
/**
* </leadingcontainer>
*/

/**
* <form>
*/
form .form-line label {
  display: block;
  margin-bottom: 4px;
}

form .form-line input,
form .form-line textarea {
  width: calc(100% - 16px);
  margin-bottom: 16px;
  padding: 8px 8px 6px;
  box-shadow: none !important;
  border: 1px solid var(--medium-color);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-label {
  background-color: var(--dangar-color);
  color: #ffffff;
  font-size: 0.8rem;
  padding: 3px 5px;
  margin-right: 0.5rem;
  border-radius: 3px;
  position: relative;
  top: -1px;
}
/**
* </form>
*/

ul.contact-wrapper {
  padding-left: 20px;
}

/**
 * 背景色の設定
 */
#menu-lunch,
#menu-wine,
#copy-reserved,
#menu-voyage {
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

/**
 * Main
 */

h2 {
  font-size: 2rem;
  padding: 100px 0 4px;
  margin-top: 0;
  text-align: center;
}

h2.subtitle {
}

h2.subtitle > span {
  display: block;
  font-size: 1.1rem;
  margin: 8px;

  img.svg {
    margin-right: 8px;
    position: relative;
    top: 3px;
  }
}

h3.wine-title {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.container-extend > h4 {
  font-size: 1.2rem;
  padding-bottom: 12px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--border-color);
}

h4 img.svg {
  width: 20px;
  height: 20px;
  margin: 0 4px;

  position: relative;
  top: 3px;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

h1.title {
  font-size: 0.9rem;
  line-height: 200%;
  padding: 6px 10px 4px;
  margin: 0;
  font-weight: normal;
  border-top: 1px solid var(--light-color);
}

.hero-image {
  background-color: var(--dark-color);
  border-top: 4px solid var(--dark-color);
  border-bottom: 4px solid var(--dark-color);
  height: 266px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  & > div {
    width: 533px;
    height: 266px;
    flex-shrink: 0;
    /*background-size: cover;*/
  }

  & > a.button {
    position: absolute;
    bottom: 0;
    right: 8px;

    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px 8px 0 0 / 8px 8px 0 0;
    color: #fff;
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

div.wrap-table {
  margin-bottom: 32px;
}

table {
  width: 100%;
}

table th {
  width: 72px;
  padding-right: 32px;
  text-align: right;
  font-weight: normal;
}

table th span {
  padding-right: 32px;
  border-right: 4px dotted var(--medium-color);
}

table td {
}

table th,
table td {
  vertical-align: top;
  font-size: 1.1rem;
  padding-top: 12px;
  padding-bottom: 12px;
}

table td button {
  position: relative;
  top: 8px;
}

table td p {
  margin-top: 0;
}

ul.list-news {
  max-width: 800px;
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

ul.list-news > li {
  padding: 8px;
  line-height: 200%;
  border-bottom: 1px dotted var(--border-color);
}

ul.list-news > li p {
  padding: 0;
  margin: 0;
}

ul.list-news > li:last-child {
  border: none;
}

ul.list-news {
  margin: 0 0 0 16px;
  padding: 0;
}

#menu-wine button {
  position: relative;
  top: 16px;
}

button.button-wine-list {
  display: inline-block;
  margin-top: 8px;
  color: var(--background-shade-color);
  border-color: var(--background-shade-color);
}

section.modal-wine-list {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  padding-top: 16px;
  border: 1px solid var(--light-color);
  box-shadow: 0 0 8px gray;
  display: none;
}

.btn.wine-list {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 32px;
  border: 1px solid var(--medium-color);

  &:hover {
    background: var(--medium-color);
    color: #ffffff;
  }
}

@media screen and (max-width: 800px) {
  section.modal-wine-list {
    max-width: 100%;
    max-height: 100%;
  }
}

ul.reserved-system {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

ul.reserved-system li {
  margin: 8px;
}

ul.reserved-system li button {
  width: 125px;
}

#menu-voyage p.parenthesis::first-letter {
  font-size: 200%;
  color: var(--background-shade-color);
}


.toast-area {
  position: fixed;
  bottom: 8px;
  right: 8px;
  width: 220px;
}

.toast-area > .toast {
  &.hide {
    display: none;
  }
  display: block;
  padding: 8px 32px 8px 10px;
  color: var(--success-color-contrast);
  background-color: var(--success-color);
  margin-bottom: 6px;
  border-radius: 2px;
  opacity: 0.95;
  position: relative;
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.95;
  }
}

.toast-area > .toast > span.close {
  position: absolute;
  top: 8px;
  right: 6px;
  color: var(--success-color);
  background-color: var(--success-color-contrast);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-area > .toast > span.close > span {
  position: relative;
  top: -1px;
  line-height: 0;
  font-size: 15px;
}
