.toast-area {
  position: fixed;
  bottom: 8px;
  right: 8px;
  width: 220px;
}

.toast-area > .toast {
  display: none;
  padding: 8px 32px 8px 10px;
  color: var(--success-color-contrast);
  background-color: var(--success-color);
  margin-bottom: 6px;
  border-radius: 2px;
  opacity: 0.95;
  position: relative;
  animation-name: fade-in;
  animation-duration: 1s;

  &.open {
    display: block;
  }
  &.hide {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.95;
  }
}

.toast-area > .toast > span.close {
  position: absolute;
  top: 8px;
  right: 6px;
  color: var(--success-color);
  background-color: var(--success-color-contrast);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-area > .toast > span.close > span {
  position: relative;
  top: -1px;
  line-height: 0;
  font-size: 15px;
}
