/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/**
 * 自作
 */


html {
  font-size: 93.8%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  color: #333333;
  font-family: Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  --dark-color: #333333;
  --dark-color-contrast: #ffffff;
  --accent-color: #aa9652;
  --medium-color: #6d4c41;
  --light-color: #efebe9;
  --border-color: #d7ccc8;
  --background-color: #efebe9;
  --background-shade-color: #4e342e;
  --dangar-color: #cf3c4f;
  --success-color: #28ba62;
  --success-color-contrast: #ffffff;
}

#menu-lunch,
#menu-wine,
#copy-reserved,
#menu-wanted {
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

h1,
h2,
h3,
h4,
h5,
nav ul li a {
  font-family: "Noto Serif JP", serif;
  font-feature-settings: 'palt';
  letter-spacing: 1px;
}

h4 {
  ion-icon {
    position: relative;
    right: 2px;
    top: 2px;
  }
}

.cursive {
  font-family: "Allura", cursive;
}

a {
  text-decoration: none;
}

ion-icon {
  min-width: 15px;
  min-height: 15px;
}

.text-center {
  text-align: center;
}

address {
  line-height: 2rem;
  font-style: normal;
}

a.button,
button {
  ion-icon {
    margin-right: 4px;
    position: relative;
    top: 2px;
  }

  display: inline-block;
  border-radius: 8px;
  padding: 6px 12px 4px;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  background: var(--dark-color-contrast);
  font-size: 1rem;
  margin: 0;
  text-decoration: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    outline: 0;
  }

  &[disabled] {
    opacity: 0.5;
  }
}


table {
  width: 100%;
  margin-top: 8px;

  th, td {
    vertical-align: top;
    font-size: 1.1rem;
    padding: 4px 0;
  }

  tr.vertical-center {
    th, td {
      vertical-align: middle;
    }
  }

  th {
    width: 104px;
    padding-right: 24px;
    text-align: right;
    font-weight: normal;

    span {
      padding-right: 32px;
      border-right: 4px dotted var(--medium-color);
    }
  }

  td {
    p {
      margin-top: 0;
    }

    button {
      position: relative;
      top: 8px;
    }

    a.button.button-google-map {
      margin-top: 4px;
    }
  }
}

img {
  height: auto;
}
