/* You can add global styles to this file, and also import other style files */

@import './reset.scss';

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(https://fonts.gstatic.com/s/droidserif/v12/tDbI2oqRg1oM3QBjjcaDkOr9rAXWGQyH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 93.8%;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  color: #333333;
  --dark-color: #333333;
  --dark-color-contrast: #ffffff;
  --accent-color: #aa9652;
  --medium-color: #6d4c41;
  --light-color: #efebe9;
  --border-color: #d7ccc8;
  --background-color: #efebe9;
  --background-shade-color: #4e342e;
  --dangar-color: #cf3c4f;
  --success-color: #28ba62;
  --success-color-contrast: #ffffff;
}

h1,
h2,
h3,
h4,
nav ul li a {
  font-family: 'Droid Serif', serif;
  font-feature-settings: 'palt';
  letter-spacing: 1px;
}

h4 {
  ion-icon {
    position: relative;
    right: 2px;
    top: 2px;
  }
}

a {
  text-decoration: none;
}

address {
  line-height: 2rem;
  font-style: normal;
}

a.button,
button,
.buttons {
  ion-icon {
    margin-right: 4px;
    position: relative;
    top: 2px;
  }

  display: inline-block;
  border-radius: 8px;
  padding: 6px 12px 4px;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  background: var(--dark-color-contrast);
  font-size: 1rem;
  margin: 0;
  text-decoration: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    outline: 0;
  }
}


table {
  width: 100%;
  margin-top: 8px;

  th, td {
    vertical-align: top;
    font-size: 1.1rem;
    padding: 4px 0;
  }

  tr.vertical-center {
    th, td {
      vertical-align: middle;
    }
  }

  th {
    width: 104px;
    padding-right: 24px;
    text-align: right;
    font-weight: normal;

    span {
      padding-right: 32px;
      border-right: 4px dotted var(--medium-color);
    }
  }

  td {
    p {
      margin-top: 0;
    }

    button {
      position: relative;
      top: 8px;
    }
  }
}
