/**
 * 全体
 */

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'),
    url(https://fonts.gstatic.com/s/droidserif/v12/tDbI2oqRg1oM3QBjjcaDkOr9rAXWGQyH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 88%;
}

body {
  color: #3e2723;
  --dark-color: #3e2723;
  --medium-color: #6d4c41;
  --light-color: #efebe9;
  --border-color: #d7ccc8;
  --background-color: #efebe9;
  --background-shade-color: #4e342e;
  --dangar-color: #cf3c4f;
  --success-color: #28ba62;
  --success-color-contrast: #ffffff;
}

body a {
  color: var(--medium-color);
}

body a:hover {
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

img.radius {
  border-radius: 100%;
  display: block;
  margin: auto;
  width: 60%;
}

.padding {
  padding: 16px;
}

.text-center {
  text-align: center;
}

hr {
  margin-top: 40px;
  margin-bottom: 32px;
}

iframe {
  max-width: 100%;
}

ul.no-list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

main > section > .wrap {
  margin: auto;
  max-width: 1200px;
  padding: 20px 0 40px;
}

h1,
h2,
h3,
.container-extend > h4,
nav ul li a {
  font-family: 'Droid Serif', serif;
  font-feature-settings: 'palt';
  letter-spacing: 1px;
}

a.button,
button {
  display: inline-block;
  border-radius: 8px;
  padding: 6px 12px 4px;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  font-size: 1rem;
  background: transparent;
  margin: 0 !important;
  text-decoration: none;
}

form.wine-search-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

form.wine-search-form input {
  display: block;
  margin-right: 8px;
}

form.wine-search-form button[type='submit'] {
  border-radius: 2px;
  display: block;
  padding: 2px 12px 2px;
}

a.button:hover,
button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  outline: 0;
}

svg {
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
}

/**
 * <Header>
 */
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

header div.logo {
  width: 160px;
  margin: 20px 0 0 8px;
  transition: all 0.5s;
  min-height: 71px;
}

header.minimum div.logo {
  width: 120px;
  transition: all 0.5s;
  min-height: auto;
}

nav {
}

nav > ul > li svg {
  margin-top: -10px;
  padding: 0;
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 800px) {
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 46px 8px 0 0;
    transition: all 0.5s;
  }

  header.minimum div.logo {
    margin: 6px 0 0 8px;
    min-height: auto;
  }

  header.minimum nav ul {
    margin-top: 20px;
  }

  nav ul li a {
    text-align: center;
    color: var(--medium-color);
    font-size: 1rem;

    position: relative;
    padding: 0 20px 7px;
  }

  nav > ul > li svg path {
    fill: var(--medium-color);
  }

  @media screen and (max-width: 1024px) {
    nav ul li a {
      padding: 0 15px 7px;
    }

    nav ul li:last-child a {
      padding: 0 10px 7px;
    }
  }
}

@media screen and (max-width: 800px) {
  header div.logo {
    margin: 8px auto 0;
  }
  header.minimum div.logo {
    margin: 6px auto 0;
    min-height: auto;
  }
  nav {
    display: none;
    position: absolute;
    top: 79px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 999;
    animation: slide-in 0.1s;
  }
  nav > ul {
    margin: 8px 0;
    padding: 0;
  }
  nav > ul > li {
    text-align: center;
    padding: 14px 0 12px;
  }
  nav > ul > li > a {
    color: #ffffff;
    font-size: 1.1rem;
  }
  nav > ul > li > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  nav > ul > li svg {
    filter: invert(100%);
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  header.minimum .btn-trigger {
    top: 16px;
  }
  header.minimum nav {
    top: 61.3px;
  }
}

nav ul li a {
  display: inline-block;
  transition: 0.3s;
  text-decoration: none;
}

nav ul li a:focus {
  outline: 0;
}

nav ul li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 1px;
  background-color: var(--medium-color);
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

nav ul li a:hover::after {
  width: 60%;
}

ul.link-list {
  max-width: 100%;
  overflow: scroll;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul.link-list > li {
  padding: 18px 0 16px;
  min-width: 200px;
  border: 1px solid var(--light-color);
  border-right: none;
  text-align: center;
  color: var(--dark-color);
  font-size: 0.9rem;
  flex: 1;
}

ul.link-list > li a {
  display: block;
  min-width: 100%;
  min-height: 100%;
  outline: 0;
}

ul.link-list > li img {
  max-width: 180px;
  max-height: 24px;
  margin-top: 4px;
}

ul.link-list > li img {
  color: #e1e1e1;
}

ul.link-list li:hover {
  background-color: var(--light-color);
}

ul.link-list li:first-child {
  border-left: none;
}

ul.link-list li:last-child {
  border-right: none;
}
/**
 * </Header>
 */

/**
   * <parenthesis>
   */
.parenthesis > p {
  margin-top: 0;
}
.parenthesis > p:last-child {
  margin-bottom: 0;
}
.parenthesis {
  width: 100%;
  font-size: 1.1rem;
  line-height: 200%;
  position: relative;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.parenthesis::before,
.parenthesis::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.parenthesis::before {
  top: 0;
  left: 0;
  border-top: 5px solid var(--medium-color);
  border-left: 5px solid var(--medium-color);
}
.parenthesis::after {
  bottom: 0;
  right: 0;
  border-bottom: 5px solid var(--medium-color);
  border-right: 5px solid var(--medium-color);
}
/**
 * </parenthesis>
 */

/**
 * <leading-container>
 */

.leading-container {
  max-width: 800px;
  margin: auto;
}

.leading-container h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 200%;
}

.leading-container h3.text-left {
  text-align: left;
}

/**
 * </leading-container>
 */

/**
 * <equidistant-container>
 */
.equidistant-container {
  padding-top: 32px;
}

@media screen and (min-width: 800px) {
  .equidistant-container {
    display: flex;
  }
}

.equidistant-container > .equidistant-container-inner {
  padding: 8px;
}

.equidistant-container > .equidistant-container-inner ul {
  padding: 0 0 0 20px;
}

.equidistant-container > .equidistant-container-inner img {
  border: 1px solid var(--light-color);
}

/**
 * </equidistant-container>
 */

/**
* <leadingcontainer>
*/
@media screen and (min-width: 800px) {
  .leading-container-flex {
    display: flex;
    font-size: 1rem;
    line-height: 180%;
  }

  .leading-container-flex img {
    margin: 0 32px 0 16px !important;
  }
}

.leading-container-flex img {
  display: block;
  margin: 0 auto;
  width: 210px;
  height: 210px;
}
/**
* </leadingcontainer>
*/

/**
* <form>
*/
form .form-line label {
  display: block;
  margin-bottom: 4px;
}

form .form-line input,
form .form-line textarea {
  width: calc(100% - 16px);
  margin-bottom: 16px;
  padding: 8px 8px 6px;
  box-shadow: none !important;
  border: 1px solid var(--medium-color);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-label {
  background-color: var(--dangar-color);
  color: #ffffff;
  font-size: 0.8rem;
  padding: 3px 5px;
  margin-right: 0.5rem;
  border-radius: 3px;
  position: relative;
  top: -1px;
}
/**
* </form>
*/

/**
 * ハンバーガーメニュー
 */

.btn-trigger {
  position: absolute;
  left: 16px;
  top: 28px;
  width: 32px;
  height: 26px;
  cursor: pointer;
  border: none;
  outline: none;
}
.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--dark-color);
  border-radius: 4px;
}
.btn-trigger,
.btn-trigger span {
  display: inline-block;
  transition: all 0.5s;
  box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
  top: 0;
}
.btn-trigger span:nth-of-type(2) {
  top: 12px;
}
.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

#mobile-menu-button.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}
#mobile-menu-button.active span:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: active-btn06-bar02 0.8s forwards;
  animation: active-btn06-bar02 0.8s forwards;
}
@-webkit-keyframes active-btn06-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-btn06-bar02 {
  100% {
    height: 0;
  }
}
#mobile-menu-button.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}
