html {
  font-size: 88%;
}

body {
  color: #3e2723;
  --dark-color: #3e2723;
  --medium-color: #6d4c41;
  --light-color: #efebe9;
  --border-color: #d7ccc8;
  --background-color: #efebe9;
  --background-shade-color: #4e342e;
  --dangar-color: #cf3c4f;
  --success-color: #28ba62;
  --success-color-contrast: #ffffff;
}
