/**
 * 全体に効果をきかせるためのCSS
 */
html {
  font-size: 88%;
  color: #333333;
}

img {
  max-width: 100%;
}

img.radius {
  border-radius: 100%;
  display: block;
  margin: auto;
  width: 60%;
}

.padding {
  padding: 16px;
}

.text-center {
  text-align: center;
}

hr {
  margin-top: 40px;
  margin-bottom: 32px;
}

body {
  --base-color: #666666;
  --border-color: #cccccc;
}

main > section {
}

iframe {
  max-width: 100%;
}

main > section > .wrap {
  margin: auto;
  max-width: 1200px;
  padding: 20px 0 40px;
}

.no-list-style {
  list-style: none;
  padding:0;
  margin: 0;
}

h2, h3,
nav ul li a {
  font-family: 'Droid Serif', serif;
}

button {
  border-radius: 8px;
  padding: 6px 12px 4px;
  border-width: 1px;
  font-size: 1rem;
  background: transparent;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  outline: 0;
}


/**
 * カラーリング
 */
#menu-lunch, #menu-wine, #menu-access, #menu-voyage {
  background-color: #EFEBE9;
  border-top: 1px solid #cccccc;
}


/**
 * モバイル対応
 */
@media screen and (min-width: 800px) {
  .mobile-only {
    display: none;
  }
  .container-half {
    width: calc(50% - 16px);
  }
  .container-extend {
    flex-grow: 10;
  }
  .laptop-padding-left {
    padding-left: 32px !important;
  }
}

@media screen and (max-width: 800px) {
  .laptop-only {
    display: none;
  }
  main > section > .wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}



/**
 * Main
 */


h2 {
  font-size: 2rem;
  padding: 0 0 4px;
  text-align: center;
}

h2.subtitle {
}

h2.subtitle > span {
  display: block;
  font-size: 1.1rem;
  margin: 8px;
}

h2.subtitle > span > ion-icon {
  position: relative;
  top: 2px;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/**
 * 個別デザイン
 */

.main-visual h1.title {
  font-size: 0.9rem;
  line-height: 200%;
  padding: 6px 10px 4px;
  font-weight: normal;
  border-top: 1px solid #f0f0f0;
}
ul.description-list {
  position: absolute;
  right: 0;
  list-style-type: none;
  padding: 0;
  margin: 4px 4px 0 0;
  display: flex;
}
ul.description-list  li {
  margin-left: 4px;
  margin-right: 16px;
  font-size: 0.9rem;
}
ul.description-list li .icon {
  position: relative;
  top: 1px;
}


.hero-image {
  background-color: #000;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.hero-image > div {
  width: 533px;
  height: 300px;
  flex-shrink: 0;
  background-size: cover;
}

.hero-image > a {
  position: absolute;
  bottom: 0;
  right: 8px;
}

.hero-image > a > button {
  background-color: rgba(0,0,0,0.6);
  border-radius: 8px 8px 0 0 / 8px 8px 0 0;
  color: #fff;
}

.hero-image > a > button:hover {
  background-color: rgba(0,0,0,0.7);
}

ul.list-news {
  max-width: 800px;
  margin: auto;
  list-style: none;
  padding-left: 20px;
}

ul.list-news > li {
  padding: 8px 0;
  line-height: 200%;
  border-bottom: 1px dotted var(--border-color);
}

ul.list-news > li:last-child {
  text-align: center;
  padding-top: 16px;
  border: none;
}

ul.list-news > li:first-line {
  font-weight: bold;
}

#menu-news button {
  margin: 4px 0 0 16px;
}

button.button-wine-list {
  display: inline-block;
  margin-top: 8px;
  color: #4E342E;
  border-color: #4E342E;
}

.accshow {
  display: none;
}

section.modal-wine-list {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  padding-top: 16px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 8px gray;
  display: none;
}


@media screen and (max-width: 800px) {
  section.modal-wine-list {
    max-width: 100%;
    max-height: 100%;
  }
}


section.modal-wine-list > div.modal-wine-list-inner {
  width: calc(100% - 32px);
  padding: 16px;
  max-height: calc(100% - 100px);
  overflow: scroll;
}

section.modal-wine-list > div.modal-wine-list-inner .accshow {
  display: block !important;
}

section.modal-wine-list > div.modal-wine-list-inner button {
  display: none !important;
}

section.modal-wine-list > .modal-wine-list-inner > button {
}


#menu-voyage p.parenthesis::first-letter {
  font-size: 200%;
  color: #4E342E;
}

#menu-voyage p.parenthesis a, #menu-voyage p.parenthesis a:hover {
  color: #4E342E;
}
