@media screen and (min-width: 800px) {
	.sp{
		display:none;
	}
}

@media screen and (max-width: 800px) {
	.pc{
		display:none;
	}
}


.voyage{
	font-size:200%;
	color:#009;
}
#center{
	text-align:center;
}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*三本線メニュー始まり　*/
/*//////////////////////////////////////////////////////////////////////////////////////*/



/*//////////////////////////////////////////////////////////////////////////////////////*/
/*三本線メニュー終わり　*/
/*//////////////////////////////////////////////////////////////////////////////////////*/



/*//////////////////////////////////////////////////////////////////////////////////////*/
/*アコーディオン　ワインリスト　*/
/*//////////////////////////////////////////////////////////////////////////////////////*/
.wineListHeader{
	border-bottom:#333 1px solid;
}

.accbox1,.accbox2,.accbox3 {
	margin: 0 5%;
	padding: 0;
	width:90%;
}

/*ラベル*/
.accbox1 label,.accbox2 label,.accbox3 label {
	display: block;
	margin: 1.5px 0;
	padding : 11px 12px;
	color:#333;
	font-weight: bold;
	background-color:#CCC;
	/*background-color:#333;*/
	/*background :#a4cbf3;*/
	cursor :pointer;
	transition: all 0.5s;
}

/*ラベルホバー時*/
.accbox1 label:hover {
	/* background :#85baef;*/
}

/*チェックは隠す*/
.accbox1 input,.accbox2 input,.accbox3 input {
	display: none;
}

/*中身を非表示にしておく*/
.accbox1 .accshow,.accbox2 .accshow,.accbox3 .accshow {
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
	height: auto;
	padding: 5px;
	/*background-color: #fff;*/
	background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	/*background:#EEEEEE;*/
	opacity: 1;
}



/*//////////////////////////////////////////////////////////////////////////////////////*/
/*アコーディオン　終わり*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

h2 span,h2,h3 span,h3{
}
#inatagram img{
	width:30px;
}

.navi-center{
	padding-top:9px;
}
.padding-top-50px{
	padding-top:50px;
}

@media screen and (min-width: 480px) {
	.br-sp { display:none; }
}
@media screen and (max-width: 1100px) {
	#inatagram img{
		-webkit-filter: invert(100%);
		-moz-filter: invert(100%);
		-o-filter: invert(100%);
		-ms-filter: invert(100%);
		filter: invert(100%);
	}
}

@media screen and (min-width: 1100px) {
	#inatagram img{
		opacity:0.4;
	}
}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*三本線メニュー　PC*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

.logo a:hover{
	opacity:0.5;
}
main{
	/*margin-top:100px;*/
}

.newsHeadLine{
	text-align:center;
}

.innerNav {
	width: 100%;
	margin: 0 auto;

}
.innerNav:after {
	content: "";
	clear: both;
	display: block;
}

/* header */
#top-head {
	top: -100px;
	position: absolute;
	width: 100%;
	margin: 100px auto 0;
	line-height: 1;
	z-index: 999;

}




#top-head a,
#top-head {
	color:#666;
	text-decoration: none;
}
#top-head .innerNav {
	position: relative;
}
#top-head .logo {
	float: left;
	font-size: 36px;

}

#global-nav div {
	list-style: none;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 14px;
	top:30px;

}
#global-nav div p {
	float: left;
}

/* Fixed */
#top-head.fixed {
	margin-top: 0;
	top: 0;
	position: fixed;
	height: 100px;
	background: #fff;
	background: rgba(255,255,255,.7);
	transition: top 0.65s ease-in;
	-webkit-transition: top 0.65s ease-in;
	-moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
	font-size: 24px;
	color: #333;

}

@media screen and (min-width: 1100px) {
	#top-head.fixed .logo {
		padding-top: 10px;
	}

	#global-nav div p a {
		padding: 0 30px;
	}

}






#top-head.fixed #global-nav div p a {
	color: #333;
	padding: 0 30px 7px;



}

/* Toggle Button */
#nav-toggle {
	display: none;
	position: absolute;
	right: 12px;
	top: 14px;
	width: 34px;
	height: 36px;
	cursor: pointer;
	z-index: 101;
}
#nav-toggle div {
	position: relative;
}
#nav-toggle span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #666;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
	top: 0;
}
#nav-toggle span:nth-child(2) {
	top: 11px;
}
#nav-toggle span:nth-child(3) {
	top: 22px;
}
@media screen and (min-width: 1100px) {


	#global-nav div {
		margin:0 auto 50px;

	}
	#none{
		display:none;
	}
	#global-nav div p a {

		position: relative;
		display: inline-block;
		transition: .3s;
		padding-bottom:7px;

	}
	#global-nav div p a::after {

		position: absolute;
		bottom: 0;
		left: 50%;
		content: '';
		width: 0;
		height: 1px;
		background-color:#666;
		transition: .3s;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#global-nav div p a:hover::after {

		width: 55%;
	}





}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*三本線メニュー　PCおわり*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*三本線メニュー　スマホ*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 400px) {
	.logo a img{
		margin-left:5%;
		width:160px;
	}
}

@media screen and (max-width: 400px) {
	.logo a img{
		/*margin-left:15%;*/
		width:50%;
	}
}
@media screen and (max-width: 1100px) {

	#global-nav div p a:hover{
		opacity:0.5;
	}






	#top-head,
	.innerNav {
		width: 100%;
		padding:0;
	}
	#top-head {
		top: 0;
		position: fixed;
		margin-top: 0;
	}
	/* Fixed reset */
	#top-head.fixed {
		padding-top: 0;
		background: transparent;
	}
	#mobile-head {
		background: #fff;
		width: 100%;
		height: 80px;
		z-index: 999;
		position: relative;
	}
	#top-head.fixed .logo,
	#top-head .logo {
		position: absolute;
		left: 0;
		top: 10px;
		color: #333;
		font-size: 26px;

	}
	#global-nav {
		position: absolute;
		/* 開いてないときは画面外に配置 */
		top: -500px;
		background: #333;
		width: 100%;
		text-align: center;
		margin:0 auto;
		padding: 10px 0;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		transition: .5s ease-in-out;

	}
	#global-nav div {
		display:inline-block;
		margin-top:40px;
		list-style: none;
		position: static;
		right: 0;
		bottom: 0;
		font-size: 14px;
	}
	#global-nav div p {
		float: none;
		position: static;
		margin:0 auto;
		/*padding-right:5%;*/
	}
	#top-head #global-nav div p a,
	#top-head.fixed #global-nav div p a {
		width: 100%;
		display: block;
		color: #fff;
		padding: 13px 0;
	}

	#nav-toggle {
		display: block;
	}
	/* #nav-toggle 切り替えアニメーション */
	.open #nav-toggle span:nth-child(1) {
		top: 11px;
		-webkit-transform: rotate(315deg);
		-moz-transform: rotate(315deg);
		transform: rotate(315deg);
	}
	.open #nav-toggle span:nth-child(2) {
		width: 0;
		left: 50%;
	}
	.open #nav-toggle span:nth-child(3) {
		top: 11px;
		-webkit-transform: rotate(-315deg);
		-moz-transform: rotate(-315deg);
		transform: rotate(-315deg);
	}
	/* #global-nav スライドアニメーション */
	.open #global-nav {
		/* #global-nav top + #mobile-head height */
		-moz-transform: translateY(556px);
		-webkit-transform: translateY(556px);
		transform: translateY(556px);
	}
}


/*//////////////////////////////////////////////////////////////////////////////////////*/
/*三本線メニュー　スマホおわり*/
/*//////////////////////////////////////////////////////////////////////////////////////*/


main{
	padding-top:100px;
}
.scroll-inner h2{

}
.col1 a{
	margin-bottom:100px;
}

.clear{
	clear:both;
}


/*img { vertical-align: middle; }*/
body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:12px;
	color:#000;
	/*letter-spacing:.2em;*/
	line-height:2em;
}


li{
	list-style-type:none;}
a{
	text-decoration:none;
}
nav{
	font-family: 'Hammersmith One', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Droid Serif', serif;
	font-weight:400;
}

main{
	width:98%;
	margin:0 1%;
}

img{
	width:100%;
}

h1,.font{
	font-family: 'Hammersmith One', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Droid Serif', serif;
	font-size:18px;
	line-height:2em;
}

a{
	color:#000;
}

h4{
	border-bottom:#666 solid 1px;
}

.center{
	text-align:center;
}

.contactHead span{
	color:#F00;
}

main a:hover{
	opacity:0.5;
}

.col1{
	width:97%;
	margin:0 auto;
}
.scroll-inner{
	margin-top:0;
}
.margin-bottom50{
	margin-bottom:500px;
}

h2,h3 {
	position: relative;
	padding: 1em 0;
}
h2::before,
h2::after,
h3::before,
h3::after {
	position: absolute;
	left: 0;
	content: '';
	width: 100%;
	height: 6px;
	box-sizing: border-box;
}
h2::before,
h3::before {
	top: 0;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
}
h2::after,
h3::after {
	bottom: 0;
	border-top: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
}

.col2{
	margin:0 auto;
	clear:both;
}
#index-map{
	margin-top:40px;
}
.margin-bottom-40px{
	margin-bottom:40px
}
#padding25px{
	padding:25px 0;
}
#padding-top-40px{
	padding-top:40px;
}

.face{
	text-align:center;
}
.facial-title{
	font-size:50%;
}
.parenthesis {
	position: relative;
	width: 100%;
	padding: 15px 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.parenthesis::before,
.parenthesis::after {
	position: absolute;
	content: '';
	width: 20px;
	height: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.parenthesis::before {
	top: 0;
	left: 0;
	border-top: 5px solid #555;
	border-left: 5px solid #555;
}
.parenthesis::after {
	bottom: 0;
	right: 0;
	border-bottom: 5px solid #555;
	border-right: 5px solid #555;
}

@media screen and (min-width:600px){
	#face img{
		width:90%;
		margin:0 5%;

	}
}
@media screen and (max-width:600px){
	#face img{
		width:50%;
		margin:0 25%;

	}


}
h1{
	text-align:center;
}


.col2inner80{

	margin-top:2%;
}


iframe{
	width:100%;
}


@media screen and (min-width:600px){
	.col3{
		width:100%;
	}
	.col3inner{
		float:left;
		width : calc(100% / 3) ;
	}
	.col3inner p{
		width:90%;
		margin:0 5%;
	}



	.col2inner20{
		float:left;
		width :20%;

	}

	.col2inner80{
		float:left;
		width :80%;
	}

	.col2inner p{
		width:90%;
		margin:0 5%;
	}


	.col2{
		width:100%;
	}
	.col2inner{
		float:left;
		width : calc(100% / 2) ;
		margin-bottom:50px;
	}
	.col2inner p{
		width:90%;
		margin:0 5%;
	}

}





address{
	font-style:normal;
	text-align:center;
	color:#000;
	font-size:80%;
	padding:15px 0 25px 0;
	clear:both;
}
footer{
	clear:both;

}






@media screen and (max-width:600px) {



	#scrolltop img{
		width:40px;
	}
	#scrolltop {
		position:fixed;
		right:15px;
		cursor:pointer;
		z-index:9999;
	}
	#scrolltop a {
		display: block;
	}

}

@media screen and (min-width:600px){


	#scrolltop {
		position:fixed;
		right:15px;
		cursor:pointer;
		z-index:9999;
	}
	#scrolltop a {
		display: block;
	}
	/*#gallery,*/
	#bio,#contact{
		width:90%;
		margin:0 5%;

	}
}
@media screen and (min-width:480px) and ( max-width:980px){


}

@media screen and (min-width:980px){


}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*bio contact*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#bio .boldName{
	border-bottom:#CCC 1px solid;
	padding:15px 0 15px 0;
}

#contact .submit{
	text-align:center;
}

#contact .contactCell span{
	color:#F00;
}
.contactCell{
	border-bottom:#CCC 1px solid;

}

.submitButton{
	padding:1em;
	border-radius:5px 5px 5px 5px;
	background-color:#CCC;
	border:#666 1px solid;
	margin:20px 0;
	border:#CCC 1px solid;
}

.newsSet{
	margin-bottom:30px;
}
.newsTitle{
	border-bottom:#CCC 1px solid;
	padding-bottom:10px;
}
.newsSetBottom{
	padding-bottom:20px;
}
/*.newsText,.newsImage{
	float:left;
	width:49%;
	}
.newsText{
	margin-right:1%;
	}
.newsImage img{
	width:100%;
	}	*/

@media screen and (min-width:980px) {


	.contactCell{
		width:100%;
		display:table;

	}
	.contactHead,.contactBody{
		display:table-cell;
		vertical-align:middle;
		height:80px;


	}
	#contact textarea {
		margin:30px 0;
	}
	.contactHead{
		width:20%;

	}
	.contactBody{
		width:80%;

	}

}


@media screen and (max-width:480px) {

	.contactCell{
		width:100%;
		/*display:table;*/

	}

	#contact textarea {
		margin:30px 0;
	}
	.contactHead{
		width:100%;

	}
	.contactBody{
		width:100%;

	}
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*mail.php*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



.confirm{
	text-align:center;
	margin:100px auto 0;
	width:100%;





}
#formWrap{
	/*text-align:center;
	background-color:#F00;
	width:100%;
	height:1000px;:*/



}
.formTable{

	margin:0 auto;
}
